/*
 *************************************************************
 * COMMON
 *************************************************************
 */

html, body, div, p, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro";
}

.global-width {
  max-width: 1200px;
  margin: 0 auto;
}

.global-width-narrow {
  max-width: 800px;
  margin: 0 auto;
}

/*
 * Header
 */

.site-header {
  margin-top: 125px;
}

.site-header h1 {
  font-family: "Mermaid";
  font-size: 34px;
  font-weight: normal;
  color: #333;
  margin-bottom: 10px;
}

.site-header h3 {
  font-family: "Mermaid";
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

.site-header h1 a {
  text-decoration: none;
  color: #276dc1;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-title {
  width: 75%;
}

.site-title-narrow {
  margin-left: 16.8%;
}

/*
 * Navigation
 */

.site-nav {
  margin-top: 2px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav ul li {
  display: block;
  list-style: none;
  padding: 4px 8px;
  background: white;
  text-align: center;
}

.site-nav ul li.active-tab {
  background: #f7f7f7;
}

.site-nav ul li a {
  font-family: "Mermaid";
  line-height: 150%;
  text-decoration: none;
  display: block;
  color: #353535;
}

.site-nav ul li.active-tab a {
  color: #276dc1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  margin-top: 120px;
  text-align: right;
}

footer div object {
  margin-right: -18px;
}

/*
 *************************************************************
 * HOME PAGE
 *************************************************************
 */

/*
 * Projects
 */

.content {
  margin-top: 40px;
  margin-bottom: 100px;
}

.projects-wrapper {
  width: 100%;
  margin-top: 60px;
  position: relative;
  display: block;
}

.projects-wrapper .arrow {
  position: absolute;
  top: calc(50% - 18px);
}

.projects-wrapper .left-arrow {
  left: -30px;
}

.projects-wrapper .right-arrow {
  right: -30px;
}

.projects-wrapper .arrow a {
  text-decoration: none;
  font-size: 48px;
  color: #ddd;
}

.projects {
  width: 100%;
  margin-top: 60px;
}

.projects ul {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  list-style: none;
}

.projects ul li {
  display: inline-block;
  width: 25%;
}

.projects ul li.wide {
  width: 100%;
}

.projects ul li a {
  text-decoration: none;
}

.projects .project-block {
  margin: 0 auto;
  width: 260px;
  height: 210px;
  display: flex;
  background: #f7f7f7;

  position: relative;
  overflow: hidden;
}

.projects ul li.wide .project-block {
  width: auto;
}

.projects .project-block img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}

.projects .project-block img.grayed {
  transition: filter .35s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.projects .project-block:hover img.grayed {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.projects .project-title {
  margin-top: 10px;
  text-align: center;
}

.projects .project-title h3 {
  font-family: "Mermaid";
  font-size: 16px;
  font-weight: normal;
  margin-top: 1.5em;
  color: #353535;
}


/*
 * Tags
 */

.tags {
  margin-top: 200px;
  display: block;
}

.tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.tags ul li {
  display: inline-block;
  width: 180px;
}

.tags ul li a {
  font-family: "Mermaid";
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  transition: all .5s ease-in-out;
}

.tags ul li.active a {
  color: #276dc1;
}

.tags ul li a:hover {
  color: #276dc1;
}

/*
 * Bio Page
 */

.article-bio {
  margin-top: 100px;
}

.article-bio p {
  font-family: "Mermaid";
  color: #353535;
}

.article-bio p a {
  color: #276dc1;
  text-decoration: none;
}

/*
 *************************************************************
 * ARTICLE
 *************************************************************
 */

.site-title:not(.no-back) h1 > a:first-child {
  pointer-events: none;
}

.site-title:not(.no-back) h1 > a:first-child::before {
  content: "< ";
  pointer-events: all;
  margin-left: -40px;
  margin-right: 20px;
}

.site-title h1 .platform {
  color: grey;
  font-size: 20px;
  margin-left: 20px;
}

.site-title h1 .platform a {
  color: grey;
}

.site-title h1 .platform a.active {
 color: #276dc1;
}

/*
 * Body layout
 */

.content {
  display: flex;
  justify-content: space-between;
}

.image-column {
  width: 530px;
  position: relative;
}

.article-column {
  width: 530px;
}

/*
 * Article
 */

.article p {
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 18px;
}

.article img {
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
}

.article video.medium {
  max-width: 50%;
}

.article .video-spacing {
  margin-bottom: 40px;
}

.global-width-narrow .article img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article .img-small {
  max-width: 30%;
}

.article .img-medium {
  max-width: 50%;
}

.article h2 {
  color: #353535;
  font-size: 24px;
  line-height: 1.2em;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.article h2:not(:first-child) {
  margin-top: 70px;
}

.article > h2.small {
  text-align: left;
  margin-top: 0;
  margin-bottom: -10px;
  font-size: 20px;
}

.article h3 {
  color: #353535;
  font-family: "Source Sans Pro Semibold";
  font-size: 18px;
}

.article > h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}

.article h3 small {
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 18px;
}

.article ol, .article ul {
  line-height: 2em;
  font-size: 18px;
}

/*
 * Image display
 */

.image-display {
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
}

.image-display img {
  max-width: 530px;
  display: block;
  margin: auto;
}

.image-display video {
  max-width: 400px;
  display: block;
  margin: auto;
}

.video-remove-border {
  overflow: hidden;
}

.video-remove-border video {
  position: relative;
  top: 2px;
}

.iframe-remove-border {
  overflow: hidden;
  width: 98%;
}

.iframe-remove-border iframe {
  position: relative;
  top: 2px;
  left: -2px;
}

.video-center {
  text-align: center;
}

#active-image {
  position: fixed;
  width: 530px;
}
