/*
 *************************************************************
 * COMMON
 *************************************************************
 */

@font-face {
  font-family: "NHaasGroteskTXPro";
  src: url("/font/NHaasGroteskTXPro-55Rg.ttf");
  src: url("/font/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
}

html, body, div, p, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Roboto, "NHaasGroteskTXPro";
}

.global-width {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.global-width-narrow {
  max-width: 800px;
  margin: 0 auto;
}

/*
 * Header
 */

.site-header {
  margin-top: 30px;
}

.site-header h1 {
  font-family: "Optima Bold";
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

.site-header h2 {
  font-family: "Optima Bold";
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 10px;
}

.site-header h3 {
  font-family: Roboto, "NHaasGroteskTXPro";
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
}

.site-header h1 a {
  text-decoration: none;
  color: #000000;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-title {
  width: 50%;
  margin-left: 30px;
}

.site-title-narrow {
  margin-left: 16.8%;
}

/*
 * Navigation
 */

.site-nav {
  margin-top: 0px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav ul li {
  display: block;
  list-style: none;
  padding: 4px 8px;
  background: white;
}

.site-nav ul li.active-tab {
}

.site-nav ul li a {
  font-family: "Optima Bold";
  font-weight: bold;
  font-size: 26px;
  line-height: 100%;
  text-decoration: none;
  display: block;
  color: #353535;
}

.site-nav ul li.active-tab a {
  color: #0053a7;
}

.sub-menu {
  margin-left: 2px;
  margin-top: 0px;
}

.sub-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-menu ul li a {
  font-family: "Optima";
  font-size: 22px;
  text-decoration: none;
  color: #000000;
  line-height: 1.3em;
}

.sub-menu ul li.active-tab a {
  color: #0053a7;
}

.site-name h1 {
  font-family: "Optima Bold";
  font-size: 36px;
  font-weight: bold;
  margin-top: 18px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  margin-top: 120px;
  text-align: right;
}

footer div object {
  margin-right: -18px;
}

/*
 *************************************************************
 * HOME PAGE
 *************************************************************
 */

/*
 * Projects
 */

.content {
  margin-top: 50px;
  margin-bottom: 100px;
}

.projects-wrapper {
  width: 100%;
  margin-top: 10px;
  position: relative;
  display: block;
}

.projects {
  width: 100%;
}

.project-row {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.projects ul.carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  list-style: none;
}

.projects ul.carousel li {
  display: inline-block;
  width: 25%;
}

.projects ul.carousel li a {
  text-decoration: none;
}

.projects .project-block {
  margin: 0 auto;
  background: white;

  position: relative;
  overflow: hidden;

  margin-left: 12px;
  margin-right: 12px;
}

.projects .project-block img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 0px;
}

.projects .project-illustrations .project-title {
  background: #eaeaea;
  opacity: 0.9;
}

.projects .project-illustrations .project-title h3 {
  font-family: "Optima Bold";
  font-size: 48;
}

.projects .project-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display:flex;
  align-items: center;
  justify-content: center;
}

.projects .project-title h3 {
  font-family: "Optima";
  font-size: 40px;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.projects .project-mid {
  width: 50%;
}

.projects h2 {
  margin-left: 12px;
  margin-bottom: 20px;
}

.projects:not(:first-child) h2 {
  margin-top: 50px;
}

/*
 * Animation
 */

.projects .project-block .project-title {
  opacity: 0;
  transition: 0.18s all;
}

.projects .project-block .project-title:hover {
  opacity: 1;
  background-color: white;
  transition: 0.18s all;
}

/*
 * Tags
 */

.tags {
  margin-top: 0;
  display: block;
}

.tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.tags ul li {
  display: inline-block;
  width: 180px;
}

.tags ul li a {
  font-family: "Mermaid";
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  transition: all .5s ease-in-out;
}

.tags ul li.active a {
  color: #0053a7;
}

.tags ul li a:hover {
  color: #0053a7;
}

/*
 * Bio page
 */

.article-bio {
  margin-right: 30px;
}

.article-bio-image {
}

.article-bio-image img {
  max-width: 275px;
}

/*
 *************************************************************
 * ARTICLE
 *************************************************************
 */

.subheader {
  margin-top: 80px;
}

.subheader h1 .platform {
  color: #e2e2e2;
  font-size: 20px;
  margin-left: 20px;
}

.subheader h1 .platform a {
  color: #e2e2e2;
  transition: color 0.25s;
}

.subheader h1 .platform a:not(.active):hover {
  color: #c3cedb;
}

.subheader h1 .platform a.active {
  color: #0053a7;
}

/*
 * Body layout
 */

.content {
  display: flex;
  justify-content: space-between;
}

.image-column {
  width: 530px;
  position: relative;
}

.article-column {
  width: 530px;
}

/*
 * Article
 */

.article {
}

.article-narrow {
  width: 100%;
}

.article-narrow p, .article-narrow ul, .article-narrow ol, .article-narrow h2, .article-narrow h3 {
  width: 800px;
}

.article p {
  font-family: Roboto, "NHaasGroteskTXPro";
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 auto;
  margin-bottom: 16px;
  color: #000000;
}

.article img {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
}

.article video {
  max-width: 80%;
}

.article video.video-medium {
  max-width: 50%;
}

.article video.video-full {
  max-width: 100%;
}
.article .video-spacing {
  margin-bottom: 40px;
}

.global-width-narrow .article img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article .img-small {
  max-width: 30%;
}

.article .img-medium {
  max-width: 50%;
}

.article hr {
  margin-top: 64px;
  border-top: 0.5px solid #eee;
}

.article h2 {
  color: #353535;
  font-size: 20px;
  line-height: 1.2em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.article h2:not(:first-child) {
  margin-top: 25px;
}

.article > h2.small {
  text-align: left;
  margin-top: 0;
  margin-bottom: -10px;
  font-size: 20px;
}

.article h3 {
  color: #353535;
  font-family: Roboto, "NHaasGroteskTXPro";
  font-size: 18px;
  margin: 0 auto;
}

.article > h3 {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 16px;
}

.article h3 small {
  font-family: Roboto, "NHaasGroteskTXPro";
  font-weight: normal;
  font-size: 16px;
}

.article ol, .article ul {
  font-family: Roboto, "NHaasGroteskTXPro";
  margin: 0 auto;
  line-height: 2em;
  font-size: 16px;
  color: #4c4c4c;
}

.article ul.three-way-comparison {
  display: flex;
  justify-content: space-between;
}

.article ul.three-way-comparison li {
  /* display: inline-block; */
  width: 30%;
}

.article a {
  color: #0053a7;
  text-decoration: none;
}

.article .flexgrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article .flexgrid .placeholder {
  display: inline-block;
  height: 250px;
  background: #d8d8d8;
  margin-bottom: 25px;
}

.article .flexgrid .col4 {
  width: 170px;
}

.article .flexgrid .col3 {
  width: 233px;
}

.article .flexgrid .col2 {
  width: 360px;
}

.article .flexgrid .col-medium {
  width: 270px;
}

.article .flexgrid .col-small {
  width: 160px;
}

/*
 * Image display
 */

.image-display {
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
  transition: opacity 0.15s;
  -webkit-transition: opacity 0.15s;
}

.image-display img {
  max-width: 530px;
  display: block;
  margin: auto;
}

.image-display video {
  max-width: 400px;
  display: block;
  margin: auto;
}

.video-remove-border {
  overflow: hidden;
}

.video-remove-border video {
  position: relative;
  top: 2px;
}

.video-remove-border-left {
  overflow: hidden;
}

.video-remove-border-left video {
  position: relative;
  left: -2px;
}

.iframe-remove-border {
  overflow: hidden;
  width: 98%;
}

.iframe-remove-border iframe {
  position: relative;
  top: 2px;
  left: -2px;
}

.video-center {
  text-align: center;
}

.image-center {
  margin: 0 auto;
}

#active-image {
  position: fixed;
  width: 530px;
}
