html, body, div, ul, li, p, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "DinPro-Light";
}

.global-width {
  max-width: 1200px;
  margin: 0 auto;
}

/*
 * Header
 */

.article-header {
  margin-top: 125px;
}

.article-header h1 {
  font-family: "DinPro-Medium";
  font-size: 34px;
  font-weight: normal;
  color: #333;
}

.article-header h3 {
  font-family: "DinPro-Light";
  font-size: 16px;
  color: #666;
}

.article-header h1 a {
  text-decoration: none;
  color: #4a90e2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

/*
 * Navigation
 */

.site-nav {
  margin-top: 4px;
}

.site-nav ul li {
  display: block;
  list-style: none;
  padding: 4px 8px;
  background: white;
  text-align: center;
  font-family: 'DinPro-Light';
}

.site-nav ul li.active-tab {
  background: #f7f7f7;
}

.site-nav ul li a {
  line-height: 150%;
  text-decoration: none;
  display: block;
  color: #353535;
}

/*
 * Body layout
 */

.content {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
}

.image-column {
  width: 50%;
  position: relative;
  margin-right: 60px;
}

.article-column {
  width: 50%;
  margin-left: auto;
}

/*
 * Article
 */

.article p {
  font-family: 'DinPro-Light';
  line-height: 1.8em;
  margin-bottom: 20px;
}

.article img {
  margin-bottom: 20px;
  max-width: 100%;
}

.article h2:not(:first-child) {
  margin-top: 40px;
  margin-bottom: 20px;
}

.article ol {
  line-height: 2em;
}

img.placeholder {
  background: #eee;
}

img.placeholder-vertical {
  width: 200px;
  height: 600px;
}

img.placeholder-horizontal {
  width: 600px;
  height: 300px;
}

/*
 * Image display
 */

.image-display {
  position: absolute;
  right: 0;
  opacity: 0;
  width: 100%;
}

.image-display img {
  max-width: 600px;
  display: block;
  margin: auto;
}

.image-display video {
  max-width: 400px;
  display: block;
  margin: auto;
}

.video-remove-border {
  overflow: hidden;
}

.video-remove-border video {
  position: relative;
  top: 2px;
}

#active-image {
  position: fixed;
  z-index: 999;
  width: 570px;
}

.iphonex {
  border-radius: 37px;
  overflow: hidden;
}

/*
 * Content
 */

.projects-wrapper {
  width: 100%;
  margin-top: 60px;
  position: relative;
  display: block;
}

.projects-wrapper .arrow {
  position: absolute;
  top: calc(50% - 18px);
}

.projects-wrapper #left-arrow {
  left: -20px;
}

.projects-wrapper #right-arrow {
  right: -20px;
}

.projects-wrapper .arrow a {
  text-decoration: none;
  font-size: 48px;
  color: #ddd;
}

/*
 * Projects
 */

.projects {
  width: 100%;
  margin-top: 60px;
}

.projects ul {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.projects ul li {
  list-style: none;
  display: inline-block;
  width: 24.7%;
}

.projects ul li a {
  text-decoration: none;
}

.projects .project-block {
  margin: 0 auto;
  width: 260px;
  height: 210px;
  display: flex;
  background: #f7f7f7;

  position: relative;
  overflow: hidden;
}

.projects .project-block img {
  transition: filter .35s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}

.projects .project-block:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.projects .project-title {
  margin-top: 10px;
  text-align: center;
}

.projects .project-title h3 {
  font-size: 16px;
  color: #353535;
}

/*
 * Tags
 */

.tags {
  display: block;
}

.tags ul {
  list-style: none;
  text-align: center;
}

.tags ul li {
  display: inline-block;
  width: 180px;
}

.tags ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #353535;
}